@import "../../assets/css/variables";

.about-me-page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin-bottom: 1rem;

  &__table {
    width: 100%;
    table {
      width: 100%;
    }
  }

  &__contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;
    line-height: 1.6rem;

    .mat-list-base .mat-list-item.mat-3-line,
    .mat-list-base .mat-list-option.mat-3-line {
      height: 10rem;
    }

    .wrap {
      word-wrap: break-word;
      white-space: pre-wrap;
    }

    &--subtitle {
      font-size: 1.3rem;
      font-weight: 700;
      margin-top: 1rem !important;
    }

    .button-row {
      display: table-cell;
      width: 100%;
    }
  }
}

@media screen and (min-width: $small_desktop_screens) {
  .about-me-page-container {
    padding: 3rem;

    &__contents {
      .mat-list-base .mat-list-item.mat-3-line,
      .mat-list-base .mat-list-option.mat-3-line {
        height: 7rem;
      }
    }
  }
}
