<section for="projects">
  <div class="container">
    <mat-card class="container__root">
      <mat-card-title class="container__root__title">Angular Snippets</mat-card-title>
      <mat-card-content class="container__root__contents">
        <p>projects works!</p>
      </mat-card-content>
      <mat-card-footer class="container__root__footer">
        <mat-card-actions class="container__root__footer--cta">
          <a [href]="" mat-button target="_blank">LINK</a>
        </mat-card-actions>
        <mat-chip-list aria-label="Tools Used" class="container__root__footer--chips">
          <mat-chip color="primary" selected>One fish</mat-chip>
          <mat-chip color="accent" selected>Two fish</mat-chip>
          <mat-chip color="warn" selected>One fish</mat-chip>
          <mat-chip selected>Two fish</mat-chip>
        </mat-chip-list>
      </mat-card-footer>
    </mat-card>
    <mat-card class="container__root">
      <mat-card-title class="container__root__title">Angular Snippets</mat-card-title>
      <mat-card-content class="container__root__contents">
        <p>projects works!</p>
      </mat-card-content>
      <mat-card-footer class="container__root__footer">
        <mat-card-actions>
          <a [href]="" mat-button target="_blank">LINK</a>
        </mat-card-actions>
        <mat-chip-list aria-label="Tools Used">
          <mat-chip>One fish</mat-chip>
          <mat-chip>Two fish</mat-chip>
        </mat-chip-list>
      </mat-card-footer>
    </mat-card>
    <mat-card class="container__root">
      <mat-card-title class="container__root__title">Angular Snippets</mat-card-title>
      <mat-card-content class="container__root__contents">
        <p>projects works!</p>
      </mat-card-content>
      <mat-card-footer class="container__root__footer">
        <mat-card-actions>
          <a [href]="" mat-button target="_blank">LINK</a>
        </mat-card-actions>
        <mat-chip-list aria-label="Tools Used">
          <mat-chip>One fish</mat-chip>
          <mat-chip>Two fish</mat-chip>
        </mat-chip-list>
      </mat-card-footer>
    </mat-card>
    <mat-card class="container__root">
      <mat-card-title class="container__root__title">Angular Snippets</mat-card-title>
      <mat-card-content class="container__root__contents">
        <p>projects works!</p>
      </mat-card-content>
      <mat-card-footer class="container__root__footer">
        <mat-card-actions>
          <a [href]="" mat-button target="_blank">LINK</a>
        </mat-card-actions>
        <mat-chip-list aria-label="Tools Used">
          <mat-chip>One fish</mat-chip>
          <mat-chip>Two fish</mat-chip>
        </mat-chip-list>
      </mat-card-footer>
    </mat-card>
    <mat-card class="container__root">
      <mat-card-title class="container__root__title">Angular Snippets</mat-card-title>
      <mat-card-content class="container__root__contents">
        <p>projects works!</p>
      </mat-card-content>
      <mat-card-footer class="container__root__footer">
        <mat-card-actions>
          <a [href]="" mat-button target="_blank">LINK</a>
        </mat-card-actions>
        <mat-chip-list aria-label="Tools Used">
          <mat-chip>One fish</mat-chip>
          <mat-chip>Two fish</mat-chip>
        </mat-chip-list>
      </mat-card-footer>
    </mat-card>
    <mat-card class="container__root">
      <mat-card-title class="container__root__title">Angular Snippets</mat-card-title>
      <mat-card-content class="container__root__contents">
        <p>projects works!</p>
      </mat-card-content>
      <mat-card-footer class="container__root__footer">
        <mat-card-actions>
          <a [href]="" mat-button target="_blank">LINK</a>
        </mat-card-actions>
        <mat-chip-list aria-label="Tools Used">
          <mat-chip>One fish</mat-chip>
          <mat-chip>Two fish</mat-chip>
        </mat-chip-list>
      </mat-card-footer>
    </mat-card>
  </div>
</section>
