<section for="projects">
  <div class="container">
    <ng-container *ngIf="(projectContents$ | async) as projects; else displayLoadingSpinner">
      <mat-card class="container__root" *ngFor="let project of projects" role="main">
        <mat-card-title class="container__root__title">{{ project.title }}</mat-card-title>
        <mat-card-content class="container__root__contents">
          <div class="description" [ngStyle]="{ 'max-height': project.showMoreContent ? 'inherit' : '5rem' }">
            <p *ngFor="let content of project.content">
              - {{ content }}
            </p>
          </div>
          <div class="description-button">
            <button mat-button (click)="updateShowMoreContentForProject(project)">{{ project.showMoreContent ? 'show less' : '... show more' }}</button>
          </div>
        </mat-card-content>
        <!-- github link and chips -->
        <mat-card-footer class="container__root__footer">
          <mat-card-actions class="container__root__footer--cta">
            <a [href]="project.link" mat-button target="_blank">{{ project.buttonText }}</a>
          </mat-card-actions>
          <mat-chip-list aria-label="Tools Used" class="container__root__footer--chips">
            <mat-chip role="listbox" *ngFor="let chips of project.tools; let i = index" color="{{ ((i + 1) % 3 === 1) ? 'primary' : ((i + 1) % 3 === 2) ? 'accent' : ((i + 1) % 3 === 0) ? 'warn' : 'undefined' }}" selected>{{ chips }}
            </mat-chip>
          </mat-chip-list>
        </mat-card-footer>
        <!-- edit / delete -->
        <mat-card-footer class="container__root__footer-admin-actions">
          <mat-card-actions>
            <ng-container *ngIf="(isAdmin$ | async)">
              <a (click)="launchDeleteConfirmationModal(project, deleteConfirmationModal)" mat-raised-button color="warn">Delete</a>
              <a (click)="editProjectsPageDetails(project)" mat-raised-button color="primary">Edit</a>
            </ng-container>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </ng-container>
  </div>
  <!-- add new project -->
  <div class="admin-actions-add-cta" *ngIf="(isAdmin$ | async)">
    <button mat-raised-button color="primary" (click)="addNewProject()">
      <mat-icon>add</mat-icon>
      Add New Project
    </button>
  </div>
</section>

<ng-template #displayLoadingSpinner>
  <mat-spinner [diameter]="100"></mat-spinner>
</ng-template>

<ng-template #deleteConfirmationModal>
  <h1 mat-dialog-title>Are you sure?</h1>
  <div mat-dialog-content>Performing this action will delete this entry forever!</div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Delete</button>
  </div>
</ng-template>
