@import "../../../assets/css/variables";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &__root {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-bottom: 2rem;

    &__title {
      line-height: 2rem;
    }

    &__contents {
      padding-top: 1rem;

      .description {
        word-break: break-word;
        overflow: hidden;
      }

      .description-button {
        margin: 0;
      }
    }

    &__footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      padding: 1rem;

      &--cta {
        width: 20%;
      }

      &--chips {
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }

    &__footer-admin-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}

.admin-actions-add-cta {
  display: flex;
  margin: auto;
  justify-content: center;
}

@media screen and (min-width: $small_tablets) {
  .container {
    &__root {
      flex-basis: 44%;
    }
  }
}

@media screen and (min-width: $small_desktop_screens) {
  .container {
    &__root {
      flex-basis: 28.33%;
    }
  }
}
