@import "../../../assets/css/variables";

@mixin form-group-general {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.education-edit-container,
.certifications-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem auto;
  width: 90%;

  &__contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;

    .form-group {
      @include form-group-general();
    }

    .education-details-form-group,
    .certifications-form-group {
      @include form-group-general();

      .education-details-entry,
      .certification-entry {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid purple;
        margin: 1rem auto;
        width: 90%;
        padding: 1rem;

        .mat-form-field {
          width: 100%;
        }
      }
    }

    .mat-form-field {
      width: 100%;
    }

    &__cta {
      display: inline-flex;
      flex-wrap: wrap;

      button {
        margin: 0 2rem;
      }
    }
  }
}

@media screen and (min-width: $small_tablets) {
  .education-edit-container,
  .certifications-edit-container {
    &__contents {
      .education-details-form-group,
      .certifications-form-group {
        width: 70%;
      }

      .mat-form-field {
        width: 70%;
      }
    }
  }
}
