// min-width media queries breakpoints
$mobile_width: 480px;
$small_tablets: 768px;
$small_desktop_screens: 1024px;
$large_desktop_screens: 1200px;

// colors
$footer_heart_icon_color: #dd0031;
$active_light_theme: #3f51b5;
$active_dark_theme: cyan;
