<section for="add-new-company">
  <div class="container">
    <form [formGroup]="addNewExperience" (ngSubmit)="onSubmit()">
      <!-- organization details -->
      <mat-card class="container__root">
        <mat-card-title class="container__root__title">Add New Organization Details</mat-card-title>
        <mat-card-content class="container__root__content">
          <!-- company name -->
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Company Name" formControlName="companyName">
              <mat-error *ngIf="addNewExperience?.get('companyName')?.errors">Please enter valid company name</mat-error>
            </mat-form-field>
          </div>
          <!-- company start date -->
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Company Start Date" formControlName="companyStartDate">
              <mat-error *ngIf="addNewExperience?.get('companyStartDate')?.errors">Please enter valid start date</mat-error>
              <mat-hint>Enter date in MM/DD/YYYY format</mat-hint>
            </mat-form-field>
          </div>
          <!-- company end date -->
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Company End Date" formControlName="companyEndDate">
              <mat-hint>Leave blank if still working here else enter date in MM/DD/YYYY format</mat-hint>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- position details -->
      <mat-card class="container__root">
        <mat-card-title class="container__root__title">Add New Position Details</mat-card-title>
        <mat-card-content class="container__root__content">
          <!-- position name -->
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Position Name" formControlName="positionName">
              <mat-error *ngIf="addNewExperience?.get('positionName')?.errors">Please enter valid company name</mat-error>
            </mat-form-field>
          </div>
          <!-- position start date -->
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Position Start Date" formControlName="positionStartDate">
              <mat-error *ngIf="addNewExperience?.get('positionStartDate')?.errors">Please enter valid start date</mat-error>
              <mat-hint>Enter date in MM/DD/YYYY format</mat-hint>
            </mat-form-field>
          </div>
          <!-- position end date -->
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Position End Date" formControlName="positionEndDate">
              <mat-hint>Leave blank if still working here else enter date in MM/DD/YYYY format</mat-hint>
            </mat-form-field>
          </div>
          <!-- location -->
          <div class="form-group">
            <mat-form-field>
              <input matInput placeholder="Location" formControlName="location">
              <mat-error *ngIf="addNewExperience?.get('location')?.errors">Please enter valid location</mat-error>
            </mat-form-field>
          </div>
          <!-- description -->
          <div class="form-group description" formArrayName="description">
            <ng-container *ngFor="let control of getAbstractControlFor('description'); let i = index" [formGroupName]="i">
              <div>
                <mat-form-field>
                  <mat-label>Description #{{i + 1}}</mat-label>
                  <textarea matInput placeholder="Description" [formControl]="getFormControlFor('description', i)" rows="5"></textarea>
                  <mat-error *ngIf="control?.errors">Please enter valid description</mat-error>
                </mat-form-field>
                <!-- delete description -->
                <button mat-raised-button type="button" color="warn" (click)="removeFromArray('description', i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </ng-container>
          </div>
          <!-- add new content -->
          <button class="add-btn-cta" mat-raised-button type="button" (click)="addNewFormControlFor('description')" color="primary">
            <mat-icon>add</mat-icon>
            <span>Add New Description</span>
          </button>
          <!-- cta -->
          <mat-card-actions class="cta">
            <button mat-raised-button color="primary" type="button" (click)="backToWorkExperiencePage()">Cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!addNewExperience.valid">Save</button>
          </mat-card-actions>
        </mat-card-content>
        <mat-card-footer>
          <p><i>You can only add one position here. If you want to add more position, click on edit button on main page.</i></p>
        </mat-card-footer>
      </mat-card>
    </form>
  </div>
</section>
