@import "../assets/css/variables";

@mixin footerStyles {
  display: flex;
  justify-content: center;
  bottom: 0;
  font-style: oblique;

  .icon {
    position: relative;
    top: 0.35rem;
    color: $footer_heart_icon_color;
  }
}

.app-sidenav-container {
  flex: 1;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;

  button {
    cursor: pointer;
  }

  &__nav {
    width: 15rem;

    a {
      display: flex;
      align-items: center;
      cursor: pointer;

      > span {
        margin: 0 1rem;
      }
    }

    &--footer {
      position: absolute;
      @include footerStyles();
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .example-spacer {
      flex: 1 1 auto;
    }

    &--action-items {
      display: flex;
      justify-content: space-between;
      width: 42%;
    }

    .wrapper {
      margin: 6rem 1rem;
    }

    header {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 2;
    }

    .footer {
      @include footerStyles();
      position: fixed;
    }
  }
}

.active {
  color: $active_light_theme;
  font-weight: 500;
}

.dark {
  color: $active_dark_theme;
  font-weight: 500;
}

@media screen and (min-width: $mobile_width) and (max-width: $small_tablets) {
  .app-sidenav-container {
    &__content {
      &--action-items {
        width: 30%;
      }
    }
  }
}

@media screen and (min-width: $small_tablets) and (max-width: $small_desktop_screens) {
  .app-sidenav-container {
    &__content {
      &--action-items {
        width: 20%;
      }

      .wrapper {
        margin: 7rem 2rem;
      }
    }
  }
}

@media screen and (min-width: $small_desktop_screens) {
  .app-sidenav-container {
    &__content {
      &--action-items {
        width: 15%;
      }

      .wrapper {
        margin: 8rem 3rem;
      }
    }
  }
}
