<mat-sidenav-container class="app-sidenav-container" (backdropClick)="close()" [dir]="direction" role="main">
  <!-- side navigation list options -->
  <mat-sidenav #sidenav (keydown.escape)="close()" disableClose class="app-sidenav-container__nav mat-elevation-z10" [mode]="isMobile ? 'over' : 'side'" role="navigation">
    <aside>
      <!-- side navigation header -->
      <mat-toolbar color="primary">
        <span>Contents</span>
      </mat-toolbar>
      <!-- side navigation list -->
      <mat-nav-list>
        <mat-list-item *ngFor="let navItem of (navigationDetails$ | async)">
          <a matLine [routerLink]="[navItem.url]" routerLinkActive #link="routerLinkActive" (click)="sidenav.close(); downloadResume(navItem, $event)" [ngClass]="{
              active: themeType === 'light' && link.isActive,
              dark: themeType === 'dark' && link.isActive
            }">
            <mat-icon aria-hidden="false" [svgIcon]="navItem.icon" aria-label="Navigation Icon"></mat-icon>
            <span>{{ navItem.name }}</span>
          </a>
        </mat-list-item>
        <!-- logout & edit nav details -->
        <ng-container *ngIf="(firebaseAuth.user | async) && (helperService.isDatabaseOnline | async)">
          <mat-list-item>
            <a matLine (click)="editNavItems()">
              <mat-icon>edit</mat-icon>
              <span>{{ locale === LocalEnum.en ? "Edit" : "संपादन" }}</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a matLine (click)="logOut()">
              <mat-icon>power_settings_new</mat-icon>
              <span>{{ locale === LocalEnum.en ? "Logout" : "लॉग आउट" }}</span>
            </a>
          </mat-list-item>
        </ng-container>
      </mat-nav-list>
      <!-- side navigation footer -->
      <mat-toolbar color="primary" class="app-sidenav-container__nav--footer">
        <span>
          <mat-icon class="icon">copyright</mat-icon> {{ currentYear }}
          {{ locale === LocalEnum.en ? "My Portfolio." : "मेरा संविभाग।" }}
        </span>
      </mat-toolbar>
    </aside>
  </mat-sidenav>
  <!-- side navigation body content -->
  <mat-sidenav-content class="app-sidenav-container__content">
    <!-- main header navigation -->
    <header>
      <mat-toolbar color="primary">
        <!-- menu button to trigger side nav -->
        <button mat-icon-button aria-label="Menu Button" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <div class="app-sidenav-container__content--action-items">
          <!-- language translation button -->
          <button mat-icon-button class="translate-icon" aria-label="Toggle Language" (click)="toggleLanguage()">
            <mat-icon>translate</mat-icon>
          </button>
          <!-- toggle theme option -->
          <button mat-icon-button class="palette-icon" aria-label="Toggle Theme">
            <mat-icon class="icon" [matMenuTriggerFor]="menu">palette</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button *ngFor="let option of (options$ | async)" mat-menu-item (click)="changeTheme(option.value)">
              <mat-icon role="img" svgicon="theme-example" aria-hidden="true">
                <ng-container *ngTemplateOutlet="themeSvg; context: { option: this.option }" context></ng-container>
              </mat-icon>
              <span [ngClass]="{
                  active: activeTheme === option.value,
                  dark: activeTheme === option.value && option.type === 'dark'
                }">{{ option.label }}</span>
            </button>
          </mat-menu>
          <!-- toggle button button -->
          <button mat-icon-button (click)="toggleDirection()" aria-label="Toggle Direction" id="toggle_app_directions">
            <mat-icon aria-hidden="false" aria-label="Toggle Sidenav Direction">directions</mat-icon>
          </button>
          <!-- instal PWA -->
          <button mat-icon-button aria-label="Install App" id="install_pwa_button" style="display: none;">
            <mat-icon aria-hidden="true" aria-label="Install PWA App">arrow_downward</mat-icon>
          </button>
        </div>
      </mat-toolbar>
    </header>
    <!-- main body content -->
    <main>
      <div class="wrapper">
        <router-outlet></router-outlet>
      </div>
    </main>
    <!-- main footer navigation -->
    <footer>
      <mat-toolbar color="primary" class="footer">
        <span *ngIf="locale === LocalEnum.en; else hindi">
          Handcrafted with <mat-icon class="icon">favorite_border</mat-icon> and
          <mat-icon class="icon" [svgIcon]="'angular'"></mat-icon>
        </span>
        <ng-template #hindi>
          <span>
            <mat-icon class="icon">favorite_border</mat-icon> और
            <mat-icon class="icon" [svgIcon]="'angular'"></mat-icon> के साथ
            दस्तकारी
          </span>
        </ng-template>
      </mat-toolbar>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
<span #navList></span>

<!-- themes svgs -->
<ng-template #themeSvg let-option="option">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 80 80" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
    <defs>
      <path d="M77.87 0C79.05 0 80 .95 80 2.13v75.74c0 1.17-.95 2.13-2.13 2.13H2.13C.96 80 0 79.04 0 77.87V2.13C0 .95.96 0 2.13 0h75.74z" id="a"></path>
      <path d="M54 40c3.32 0 6 2.69 6 6 0 1.2 0-1.2 0 0 0 3.31-2.68 6-6 6H26c-3.31 0-6-2.69-6-6 0-1.2 0 1.2 0 0 0-3.31 2.69-6 6-6h28z" id="b"></path>
      <path d="M0 0h80v17.24H0V0z" id="c"></path>
    </defs>
    <use xlink:href="#a" [attr.fill]="option.backgroundColor"></use>
    <use xlink:href="#b" [attr.fill]="option.buttonColor"></use>
    <use xlink:href="#c" [attr.fill]="option.headingColor"></use>
  </svg>
</ng-template>
