@import "../../../assets/css/variables";

.work-experience-container {
  margin: 2rem auto;

  &__title {
    text-align: center;
    margin: 2rem auto;
  }

  &__contents {
    .example-tree-node {
      display: flex;

      .description {
        word-break: break-word;
        overflow: hidden;
      }

      .description-button {
        margin-bottom: 1rem;
      }

      .node-contents {
        .designation {
          display: flex;
          flex-direction: column;
          font-weight: 500;
          margin: 0.2rem 0;
          font-size: 1.2rem;
          word-break: break-word;
        }
        .root-node {
          font-size: 1.6rem;
          margin: 0.5rem 0;
        }
        .location {
          margin-bottom: 0.5rem;
        }
      }
    }

    &__cta {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 1rem;

      div {
        margin: 1rem 0;
      }
    }
  }
}

.add-new-experience {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

@media screen and (min-width: $small_desktop_screens) {
  .work-experience-container {
    padding: 3rem;
  }
}
