@import "../../../assets/css/variables";

.home-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  &__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;

      .form-group {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .mat-form-field {
        width: 70%;
      }

      .image-form-group {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;

        img {
          width: 20%;
          height: auto;
          min-width: 5rem;
          min-height: 5rem;
        }
      }

      .custom-label {
        font-weight: 500;
        font-size: 1.4rem;
        text-align: center;
        margin: 2rem auto;
      }

      .social-handles-form-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem auto;
        max-width: 50rem;

        &__border {
          border: 1px solid purple;
          width: 70%;
          padding: 1rem;
          margin: 1rem;
        }
      }
    }

    &__cta {
      display: flex;
      justify-content: space-evenly;
      margin: 1rem 0;
    }
  }
}

@media screen and (min-width: $small_desktop_screens) {
  .home-edit-container {
    padding: 3rem;

    &__contents {
      align-items: flex-start;
      margin-right: 5rem;
    }
  }
}
