<section for="blogs-add-page">
  <mat-card class="blogs-add-page__container">
    <mat-card-title class="blogs-add-page__container__title">Add New Blog</mat-card-title>
    <mat-card-content class="blogs-add-page__container__contents">
      <form [formGroup]="blogsAddForm" (ngSubmit)="onSubmit()">
        <!-- edit title -->
        <mat-form-field>
          <mat-label>Blog Title</mat-label>
          <input type="text" matInput placeholder="Blog Title" formControlName="blogTitle">
          <mat-error *ngIf="blogsAddForm?.get('blogTitle')?.errors">Please enter valid title</mat-error>
        </mat-form-field>
        <!-- edit URL -->
        <mat-form-field>
          <mat-label>Blog URL</mat-label>
          <input type="text" matInput placeholder="Blog URL" formControlName="blogURL">
          <mat-error *ngIf="blogsAddForm?.get('blogURL')?.errors">Please enter valid URL</mat-error>
        </mat-form-field>
        <!-- edit button label text -->
        <mat-form-field>
          <mat-label>Blog Label Text</mat-label>
          <input type="text" matInput placeholder="Blog Button Text" formControlName="blogButtonText">
          <mat-error *ngIf="blogsAddForm?.get('blogButtonText')?.errors">Please enter valid label text</mat-error>
        </mat-form-field>
        <!-- edit description -->
        <div class="blogs-add-page__container__contents--description" formArrayName="description">
          <ng-container *ngFor="let control of descriptionControlFn; let i = index" [formGroupName]="i">
            <div>
              <mat-form-field>
                <mat-label>Blog Para Description #{{i + 1}}</mat-label>
                <textarea matInput placeholder="Blog Description" [formControl]="getDescriptionControl(i)" rows="5"></textarea>
                <mat-error *ngIf="control?.errors">Please enter valid description</mat-error>
              </mat-form-field>
              <!-- delete blog description -->
              <button mat-raised-button type="button" color="warn" (click)="removeDescription(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-container>
        </div>
        <!-- add new description -->
        <button mat-raised-button type="button" (click)="addDescription()">
          <mat-icon>add</mat-icon>
          <span>Add New Description</span>
        </button>
        <!-- cta -->
        <mat-card-actions class="blogs-add-page__container__contents__cta">
          <button mat-raised-button color="primary" type="button" (click)="backToBlogsPage()">Cancel</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="!blogsAddForm.valid">Save</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</section>

<ng-container *ngIf="(displaySpinner | async) === false" #displayLoadingSpinner>
  <mat-spinner [diameter]="100"></mat-spinner>
</ng-container>
