<section name="skills-page">
  <ng-container *ngIf="(skillsData$ | async) as skillsData; else displayLoadingSpinner">
    <!-- Technical Skills -->
    <mat-card class="skills-page-container" role="main">
      <mat-card-title class="skills-page-container__contents--title">{{ skillsData.techSkillHeadline }}</mat-card-title>
      <mat-card-content class="skills-page-container__table">
        <table mat-table [dataSource]="skillsData.techContent" class="mat-elevation-z8">
          <ng-container matColumnDef="expertise">
            <th mat-header-cell *matHeaderCellDef>{{ skillsData.tableColumnA }}</th>
            <td mat-cell *matCellDef="let element"> {{ element.expertise }} </td>
          </ng-container>
          <ng-container matColumnDef="skills">
            <th mat-header-cell *matHeaderCellDef>{{ skillsData.tableColumnB }}</th>
            <td mat-cell *matCellDef="let element"> {{ element.skills }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
    <!-- Soft Skills -->
    <mat-card class="skills-page-container" role="main">
      <mat-card-title class="skills-page-container__contents--title">{{ skillsData.softSkillHeadline }}</mat-card-title>
      <mat-card-content class="skills-page-container__contents">
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let entry of skillsData.softContent">
            <div mat-line class="wrap">{{ entry }}</div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <!-- Learning Aspirations -->
    <mat-card class="skills-page-container" role="main">
      <mat-card-title class="skills-page-container__contents--title">{{ skillsData.futureLearningHeadline }}</mat-card-title>
      <mat-card-content class="skills-page-container__contents">
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let entry of skillsData.futureLearnContent">
            <div mat-line class="wrap">{{ entry }}</div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <!-- edit -->
    <mat-card class="skills-page-container" role="main" *ngIf="(firebaseAuth.user | async) && (contentService.isDatabaseOnline | async)">
      <mat-card-content class="skills-page-container__contents">
        <button mat-raised-button color="accent" (click)="editSkillsPageDetails()">
          Edit
        </button>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <ng-template #displayLoadingSpinner>
    <mat-spinner class="skills-page-container__spinner" [diameter]="100"></mat-spinner>
  </ng-template>
</section>
