.add-new-position {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  form {
    .form-group {
      margin: 1rem auto;

      .mat-form-field {
        width: 100%;
      }
    }

    .form-group.description {
      display: flex;
      align-self: stretch;
      flex-direction: column;

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .mat-form-field {
          width: 70%;
        }
      }
    }

    .add-btn-cta {
      margin: 2rem 0;
    }

    .cta {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
    }
  }
}
