@import "../../../assets/css/variables";

.blogs-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &__blog {
    margin-bottom: 2rem;

    &--title {
      font-weight: 600;
    }

    &--content {
      margin-top: 1rem;
      font-size: 1rem;
      line-height: 1.6rem;

      div {
        margin-bottom: 1rem;
      }
    }

    &--cta {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.add-new-blog-cta {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: $small_desktop_screens) {
  .blogs-container {
    &__blog {
      padding: 3rem;
    }
  }
}
