<section for="blogs">
  <div class="blogs-container" *ngIf="(blogData$ | async) as blogData; else displayLoadingSpinner">
    <mat-card class="blogs-container__blog" role="main" *ngFor="let blog of blogData">
      <mat-card-title class="blogs-container__blog--title">{{ blog.blogTitle }}</mat-card-title>
      <mat-card-content class="blogs-container__blog--content">
        <div *ngFor="let content of blog.description">{{ content }}</div>
      </mat-card-content>
      <mat-card-actions class="blogs-container__blog--cta">
        <a [href]="blog.blogURL" target="_blank" mat-raised-button color="primary">{{ blog.blogButtonText }}</a>
        <!-- update and delete entry -->
        <ng-container *ngIf="(isAdmin$ | async)">
          <a (click)="launchDeleteConfirmationModal(blog, deleteConfirmationModal)" mat-raised-button color="accent">Delete</a>
          <a (click)="editBlogsPageDetails(blog)" mat-raised-button color="accent">Edit</a>
        </ng-container>
      </mat-card-actions>
    </mat-card>
  </div>
  <!-- add new blog -->
  <div class="add-new-blog-cta" *ngIf="(isAdmin$ | async)">
    <button mat-raised-button color="primary" (click)="addNewBlog()">
      <mat-icon>add</mat-icon>
      Add New Blog
    </button>
  </div>
</section>

<ng-template #displayLoadingSpinner>
  <mat-spinner class="skills-page-container__spinner" [diameter]="100"></mat-spinner>
</ng-template>

<ng-template #deleteConfirmationModal>
  <h1 mat-dialog-title>Are you sure?</h1>
  <div mat-dialog-content>Performing this action will delete this entry forever!</div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Delete</button>
  </div>
</ng-template>
